<div>
  <img
    src="../assets/logo.png"
    alt="Builder.io logo"
    width="100"
    height="100"
    class="logo"
  />
  <h1 class="app-title">Todo List</h1>
</div>
<div class="container">
  Add a todo...
  <br/>
  <input
    type="text"
    class="input-text"
    placeholder="Type a todo"
    [(ngModel)]="todoValue" 
    (keyup.enter)="addItem()" 
  >
  <!-- 
    `ngModel` is a FormControl instance from the FormsModule imported in app.module.ts
    `keyup` event is fired when a key is released,
    `.enter` checks for when the enter key is pressed
  -->
  <button class="add-btn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <ul>
      <!-- loop through each Todo item in the list -->
      <li *ngFor="let item of list"> 
        <!-- 
          link the checkbox state to item.isDone,
          this works without the `name` attribute... why do we need it? 
        -->
        <input 
          type="checkbox" 
          name="isDone"
          [(ngModel)]="item.isDone"
        />
        {{item.value}}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>